
html {
    background: rgb(72, 84, 222);
    background: radial-gradient(circle, rgb(185, 196, 236) 0%, rgb(38, 87, 185) 22%, rgb(3, 52, 86) 52%);
  }
  
  body {
    font-family: "Oswald", sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  
  .ben{
      font-family: 'Lucida Console', Monospace;
      /* font: 500px; */
      text-align: center;
      font-size: 4.5em;
      font-weight: bold;
      margin-top: 1em;
      color: aliceblue;
      
  }