<html>
<head>
<title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/no.css') }}">
</head>
<body>
    <div>
        <!-- <p align="center"><font face="Arial" size="250px" color="#000000"><b>WELCOME</b></font></p> -->
        <!-- <h2><p align="center"><font face="Arial" size="300px" color="#000000">Hungry Panda</font></p></h2></div> -->

        <div class="ben">Thank you for visiting our site. <br>Please visit again!</div>
        <div><img src="{{url_for('static', filename='images/happy_panda.png') }}" alt="panda" style="width:300px;height: 400px" class="center"> </div>
    </div>

   
    
    
</body>
</html>